.site-nav {
    width: 100%;
    font-size: 20px;
}

body {
    background-color: lightskyblue;
}
.container {
    display: block;

}
.site-nav__nav__li { 
    display: inline-block;
    border-radius: 2px;
    padding: 5px 10px;
    border: 1px solid; width: 80px; width: 90px;
}
.site-nav__nav__li site-nav--dark1{ 
    color:black;
    background-color: lightskyblue;
    border-color:lightgreen;
}

main {
    background-color: lightgreen; width: 100%; font-size: 20px;
}
.site-nav__nav__lisite-nav-dark2 { color: yellow;}

.span {
    background-color: orange;
}
.site-nav__li__ site-nav__nav__li--item1{
    background-color: black;
}
/* ..........   footer............. */

.item1 {
    background-color: lightcoral;
    color:black;
    border: 1px solid; width: 88px;
}
.item2 {
    background-color: lightcyan;
    color: red;
    border: 1px solid; width: 88px;
}
.item3 {
    background-color:lightgoldenrodyellow ;
    color:darkolivegreen;
    border: 1px solid; width: 88px;
}
.item4 {
    background-color: lightgreen;
    color: darkred;
    border: 1px solid ; width: 88px;
}
main h2,p  {
     padding: 0 10px 5px 10px;
}

@media (max-width:700px){
    .site-nav {
        width: 100%;
        font-size: 20px;
    }
    .site-nav--dark{
        background-color: rgb(49, 230, 118); color: black;
    }
    .item1 {
        background-color: lightcoral;
        color:black;
        border: 1px solid; width: 88px;
    }
    .item2 {
        background-color: lightcyan;
        color: red;
        border: 1px solid; width: 88px;
    }
    .item3 {
        background-color:lightgoldenrodyellow ;
        color:darkolivegreen;
        border: 1px solid; width: 88px;
    }
    .item4 {
        background-color: lightgreen;
        color: darkred;
        border: 1px solid ; width: 88px;
    }
    main h2,p  {
         padding: 0 10px 5px 10px;
    }
}