.site-nav {
    width: 100%;
    font-size: 15px;
}
body {
    background: lightgrey;
}
.container {
    display: block;
    padding-left: 2px;

}

.site-nav__nav__li { 
    display: inline-block;
    border-radius: 2px;
    padding: 5px 10px;
    border: 1px solid; width: 80px; width: 90px;
    background: lemonchiffon;

}
footer {
    display:grid;
    grid-template-columns: 1fr 2fr;
}
.botton-bottom {
    grid-column-start: 2;
    grid-column-end: 3;
}
.botton {
    display: grid;

    text-align: center;
}
main p {
    padding-top: 0;
}
#button {
    padding-bottom: 5px;
}
.container a { color:black;}

.button__state-footer{  width: 90px;}
main {
    width:100%; font-size: 20px;
}



/* ..........   footer............. */



@media (max-width:700px){
    .site-nav {
        width: 100%;
        font-size: 20px;
    }
    .site-nav--dark{
        background-color:lightgrey; color: black;
    }
    .item1 {
        background-color: ightgoldenrodyellow;
        color:black;
        border: 1px solid; width: 88px;
    }
    .item2 {
    background-color: ightgoldenrodyellow;
    
        color:black;
        border: 1px solid; width: 88px;
    }
    .item3 {
        background-color:ightgoldenrodyellow ;
        color:black;
        border: 1px solid; width: 88px;
    }
    .item4 {
        background-color: ightgoldenrodyellow;
        color:black;
        border: 1px solid ; width: 88px;
    }
    main h2,p  {
         padding: 0 10px 5px 10px;
    }
}